
<h1>South Indian Food</h1>
<div id="div1">
<app-foody [img]="img1" [alt]="alt1" Resttaurant="7 STAR" rating="4.1*" [title]="title1" discount="10" price="70" money="35"></app-foody>
<app-foody [img]="img2" [alt]="alt2" Resttaurant="South Bite" rating="4.2*" [title]="title2" discount="20" price="50" money="80"></app-foody>
<app-foody [img]="img3" [alt]="alt3" Resttaurant="Madras Cafe" rating="4.1*" [title]="title3" discount="10" price="60" money="200"></app-foody>
<app-foody [img]="img4" [alt]="alt4" Resttaurant="South Bite" rating="4.5*" [title]="title4" discount="30" price="45" money="180"></app-foody>
<app-foody [img]="img5" [alt]="alt5" Resttaurant="7 STAR" rating="4.1*" [title]="title5" discount="10" price="30" money="150"></app-foody>
<app-foody [img]="img6" [alt]="alt6" Resttaurant="South Bite" rating="3.9*" [title]="title6" discount="40" price="20" money="210"></app-foody>
<app-foody [img]="img7" [alt]="alt7" Resttaurant="Madras Cafe" rating="4.1*" [title]="title7" discount="10" price="40" money="200"></app-foody>
<app-foody [img]="img8" [alt]="alt8" Resttaurant="Madras Cafe" rating="4.0*" [title]="title8" discount="25" price="60" money="600"></app-foody>

</div>

<h1>Western Food</h1>
<div id="div1">
<app-foody [img]="img11" [alt]="alt11" Resttaurant="7 STAR" rating="4.0*" [title]="title11" discount="10" price="80" money="40"></app-foody>
<app-foody [img]="img12" [alt]="alt12" Resttaurant="South Bite" rating="4.2*" [title]="title12" discount="20" price="160" money="80"></app-foody>
<app-foody [img]="img13" [alt]="alt13" Resttaurant="Madras Cafe" rating="4.3*" [title]="title13" discount="10" price="60" money="120"></app-foody>
<app-foody [img]="img14" [alt]="alt14" Resttaurant="South Bite" rating="4.2*" [title]="title14" discount="30" price="30" money="150"></app-foody>
<app-foody [img]="img15" [alt]="alt15" Resttaurant="7 STAR" rating="4.1*" [title]="title15" discount="10" price="70" money="100"></app-foody>
<app-foody [img]="img16" [alt]="alt16" Resttaurant="South Bite" rating="3.8*" [title]="title16" discount="40" price="60" money="130"></app-foody>
<app-foody [img]="img17" [alt]="alt17" Resttaurant="Madras Cafe" rating="4.0*" [title]="title17" discount="10" price="40" money="200"></app-foody>
<app-foody [img]="img18" [alt]="alt18" Resttaurant="Madras Cafe" rating="4.4*" [title]="title18" discount="25" price="60" money="90"></app-foody>

</div>

