<H1>My movie list</H1>
<div id="movies">
<app-movie [img]="img1" title="Unicorn Acedemy" alt="Unicorn Acedemy" [link]="link1"></app-movie>
<app-movie [img]="img2" title="BhakShak" alt="BhakShak" [link]="link2"></app-movie>
<app-movie [img]="img3" title="Kung Fu Panda" alt="Kung Fu Panda" [link]="link3"></app-movie>
<app-movie [img]="img4" title="Money Heist" alt="Money Heist" [link]="link4"></app-movie>
<app-movie [img]="img5" title="Berlin" alt="Berlin" [link]="link5"></app-movie>
<app-movie [img]="img6" title="She" alt="She" [link]="link6"></app-movie>
<app-movie [img]="img7" title="Sex Education" alt="Sex Education" [link]="link7"></app-movie>
<app-movie [img]="img8" title="Lost in Space" alt="Lost in Space" [link]="link8"></app-movie>
</div>